* {
  margin: 0;
  padding: 0;
}

#root {
  background-color:aquamarine;
  margin: 10px;
  padding: 10px;
}

h2 {
  margin-bottom: 20px;
}

main {
  display: flex;
}

main>* {
  flex-grow: 1;
  flex-shrink: 1;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color:bisque;
  margin: 20px;
  padding: 20px;
  position: relative;
}

main .debug {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  color:blue;
}