.white {
    background-color: white;
}

.blonde {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.brown {
    background-color: rgba(119, 57, 0, 0.733);
}

#thankyou {
    text-align: center;
}