

* {
    margin: 0;
    padding: 0;
}

#countdown {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}

#countdown p {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#getcard {
    display: block;
    margin: 20px auto;
    padding: 20px;
}



.card {
    width: 200px;
    height: 160px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.card span {
    min-width: 100px;
    font-weight: bold;
    display: inline-block;
}

.card.people {
    border: 4px black solid;
}

.card.planets {
    border: 4px yellow solid;
}

.card.species {
    border: 4px green solid;
}

.card.starships {
    border: 4px blue solid;
}

.card.vehicles {
    border: 4px red solid;
}

