nav img,
nav svg {
    max-width: 33px;
    max-height: 33px;
}

article .user {
    margin-top: 14px;
    max-width: 50px;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px lightGrey solid;
    padding-top: 10px;
}

footer .row {
    margin-bottom: 0;
}

.fixed-action-btn {
    bottom: 75px;
}